# Konfigurasi Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=utspemrograman3

# JWT Secret
JWT_SECRET=secret_key_ganti_ini_ya
JWT_EXPIRES_IN=7d

# Server
PORT=3000
